@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Repository.Infrastructures;
@inject IUnitOfWork uow;
@{
    var popularTags = uow.TagRepository.GetPopularTags();
}

<h1>Popular Tags</h1>

@if (popularTags != null && popularTags.Count > 0)
{
    <div class="row">
        @foreach (var item in popularTags)
        {
            <div class="col-md-5">
                <a class="nav-link" href="@Url.Action("GetPostsByTag","Post", new{name = item.Name})">
                    <span class="badge badge-primary" style="color: black; font-size: 16px;">#@item.Name</span>
                </a>
            </div>
        }
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}